<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>
<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="name">名前</label>
    <input type="text" id="name" th:field="*{student.name}" required/>
    <label>カナ：</label>
    <input type="text" id="kana" th:field="*{student.kana}" required/>
    <label for="age">年齢</label>
    <input type="number" id="age" th:field="*{student.age}" required/>
    <label for="nickname">ニックネーム</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" required/>
    <label for="email">メール</label>
    <input type="email" id="email" th:field="*{student.email}" required/>
    <label for="region">地域</label>
    <input type="text" id="region" th:field="*{student.region}" required/>
    <label for="gender">性別</label>
    <select id="gender" th:field="*{student.gender}">
      <option value="">選択してください</option>
      <option value="male">男性</option>
      <option value="female">女性</option>
      <option value="nonbinary">解答なし</option>
      <option value="other">その他</option>
    </select>
    <label for="remark">備考</label>
    <textarea id="remark" th:field="*{student.remark}"></textarea>
  </div>
  <div>
    <button type="submit">登録</button>
  </div>
  <select th:field="*{studentsCourses[0].courseName}">
    <option value="">コースを選択してください</option>
    <option th:each="course : ${courseList}"
            th:value="${course.name}"
            th:text="${course.name}">
    </option>
  </select>
</form>
</body>
</html>